<!DOCTYPE html>
<html>
    <head>
        <title>About us page</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="/js/app1.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>This site uses data from mapbox.com an weather stack website!</p>
        <img src="./imgs/robot.png" style="width: 250px;" alt="">
        </div>
        {{>footer}}
    </body>
</html>