<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="/js/app1.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>