<!DOCTYPE html>
<html>

<head>
    <title>My home page</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p><i><b>Use this site to get your weather.</b></i></p>
        <form >
            <input type="text" placeholder="Enter location">
            <button>Search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app1.js"></script>
</body>

</html>